body{
    margin:0;
    padding:0;
    font-family:Arial;
}
.logo{
  
    margin-left: auto;
 
}

.header1{
	width:0px auto;
	height:10px;
	background-color:black;
}

.container{
    font-size: 100px;
    text-shadow: 2px 2px red;
    background-color: #e7878c;
    text-align: center;
}


.signin-icn{
    font-size: 20px;
    float: right;
    margin-top: 85px;
    margin-right: 80px;
    text-decoration: none;
    color: #000000;
}

.signin-icn:hover {
    color: #b5b5b5;
}


/*-----navigation-bar----*/

nav{
    overflow: hidden;
    background: #c46065;
    line-height: 18px;
}

nav a{
    float: left;
    display:block;
    width:150px;
    text-align: center;
    padding: 30px 25px;
    text-align: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    
}

nav a:hover{
    background: rgb(237, 190, 196);
    color: rgb(8, 8, 8);
}

nav .active{
    background: #ba575c;

}

.search{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 50px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}

nav input:hover{
    background:  rgb(237, 190, 196);
    color: black;
}
.cart-btn:hover{
    background:  rgb(237, 190, 196);
    color: black;
}


/*-----home page header----*/


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 50px;
}

.col img{
    max-width: 100%;
}
.col h1{
    font-size: 50px;
    line-height: 60px;
    margin:  25px 0;
}
.btn{
    display: inline-block;
    background: #fbc3c6;
    color: rgb(0, 0, 0);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}

.header{
    background: linear-gradient(to right, #ed7c81, #e7878c);

}
/*-----end of home page header----*/


/*------footer------*/

.footer-container{
    margin-top: auto;
    background-color: #292621;
    padding: 2rem 0 0.5rem 0;   

}

.footer{
    width: 100%;
    height: 200px;
    background-color: #212329;
    color: white;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}
.footer-heading{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h3{
    margin-bottom: 2rem;
}
.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: rgb(237, 190, 196);
}

.app-logo img{
    width:140px;
}
.footer-hr{
    background: #b5b5b5;
}
.copyright{
    text-align: center;
    color: #b5b5b5;
}

/*--------checkout page-----------*/

.checkout-container{
    padding-left: 50px;
    padding-top: 50px;  
 }

 .checkout-hr{
    width: 40px;
    height :4px;
    background-color: #ba575c;
    padding-left: 50px;
    margin-right: 100%;
}
.checkout-heading{
    font-size: 40px;
}



/*--------checkout page form formatting----------*/

fieldset{
    margin: 50px 210px 100px 210px;
    padding: 50px 50px 50px 50px;
    border-radius: 6px;
}

.fname{
    width: 400px;
    height: 50px;
    margin: 20px 10px 20px 10px;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
.lname{
    float: right;
    width: 400px;
    height: 50px;
    margin: 20px 10px 20px 10px;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
.address{
    width: 400px;
    height: 50px;
    margin: 15px 10px 15px 10px;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
.postalcode{
    float: right;
    width: 400px;
    height: 50px;
    margin: 15px 10px 15px 10px;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
.phone{
    width: 400px;
    height: 50px;
    margin: 15px 10px 15px 10px;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
.email{
    float: right;
    width: 400px;
    height: 50px;
    margin: 15px 10px 15px 10px;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
textarea{
    width: 400px;
    height: 150px;
    margin: 15px 10px 15px 10px;
    padding: 25px 25px 0 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
}
.paymentmethod{
    margin: 15px 10px 15px 10px;
    padding: 20px 15px 15px 15px;
    font-size: 20px;
}
.check{
    margin: 15px 10px 15px 10px;
    padding: 20px 15px 15px 15px;
}
.radio1{
    width: 20px;
    height: 20px;
}
.order-btn{
    margin: 15px 10px 15px 10px;
    width: 200px;
    height: 50px;
    background: black;
    color: #fff;
    font-weight: 700;
    font-size: large;
    border-radius: 4px;
}
.order-btn:hover{
    background: rgb(172, 167, 167);
    color: rgb(8, 8, 8);
}
.largecheckbox{
    width: 15px;
    height: 15px;
}

/*--------end of checkout page-----------*/
.footer-distributed{
	background: rgb(27, 23, 23);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(180, 191, 201);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;

	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.footer-hr{
    background: #b5b5b5;
}
.copyright{
    text-align: center;
    color: #a34b68;
}

